@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Blanka';
  src: url('/fonts/Blanka.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}